* {
    background-color: #222;
    color: #e6e6e6;
    border-color: #a6a6a6;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.nodecor {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-size: large;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
}

h3 {
    text-transform: uppercase;
    font-size: small;
    text-align: left;
}

.takeout {
    font-size: small;
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
    padding-right: 1em;
}

.circle {
    background: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.track-artist {
    font-size: small;
    opacity: 0.5;
    background-color: inherit;
}

.track-time {
    font-size: small;
    opacity: 0.5;
}

.track-title {
    font-size: medium;
    background-color: inherit;
}

.track-num {
    padding-right: 1em;
    width: 2em;
    font-size: small;
    text-align: right;
    opacity: 0.5;
}

.release-cover-large {
    width: 500;
    height: 500;
    border-radius: 15px;
}

.release-cover-small {
    width: 250;
    height: 250;
    border-radius: 15px;
}

.release-header {
    text-align: center;
}

.release-small-title {
    text-align: center;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.release-small-year {
    text-align: center;
    font-size: small;
    opacity: 0.5;
}

.similar-artist {
    font-size: medium;
}

.np-cover {
    width: 50px;
}

.np-track {
    padding-left: 5px;
    background-color: inherit;
}

.np-control {
    width: 36px;
    cursor: pointer;
    background-color: inherit;
}

.np-title {
    font-size: medium;
    background-color: inherit;
}

.np-artist {
    font-size: small;
    opacity: 0.5;
    background-color: inherit;
}

.np-time {
    text-align: center;
    font-size: x-small;
    opacity: 0.5;
    width: 50px;
}

.np-duration {
    text-align: center;
    font-size: x-small;
    opacity: 0.5;
    width: 50px;
}

.mini-cover {
    width: 50px;
    height: 50px;
}

.playing-track {
    padding-left: 5px;
}

.full-width {
    width: 100%;
}

body {
    margin-bottom: 75px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: inherit;
}

.left {
    /* top right bottom left */
    margin: 0.5em auto 0.5em 0.5em;
    background-color: inherit;
}

.middle {
    /* top right bottom left */
    margin: 0.5em 0.5em 0.5em 0.5em;
    background-color: inherit;
}

.right {
    /* top right bottom left */
    margin: 0.5em 0.5em 0.5em auto;
    background-color: inherit;
}

.separator {
    flex-grow: 1;
}

.parent {
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: inherit;
}

.parent2 {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
}

.parent3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}

.parent4 {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
}

.search-results {
    font-size: small;
    opacity: 0.5;
}

.search {
    width: 75vw;
    border: 3px solid #333;
    background-color: #444;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    outline: none;
}

.playing {
    background-color: #333;
}
