<div>
  {{ if .Added }}
  <div>
    <h2>Recently Added</h2>
    <div style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
      {{ range .Added }}
      <div style="padding: 10px; max-width: 110px; display: inline-block;">
	<a data-link="{{.|link}}" style="text-decoration: none;">
	  <img width="110" height="110" src="{{.|coverSmall}}" style="border-radius: 10px;">
	  <br/>
	  <div class="release-small-title">{{ .Name }}</div>
	  <br style="display: none"/>
	  <div class="release-small-year">{{ .Date.Year }}</div>
	</a>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ if .Released }}
  <div>
    <h2>Recently Released</h2>
    <div style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
      {{ range .Released }}
      <div style="padding: 10px; max-width: 110px; display: inline-block;">
	<a data-link="{{.|link}}" style="text-decoration: none;">
	  <img width="110" height="110" src="{{.|coverSmall}}" style="border-radius: 10px;">
	  <br/>
	  <div class="release-small-title">{{ .Name }}</div>
	  <br style="display: none"/>
	  <div class="release-small-year">{{ .Date.Year }}</div>
	</a>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
