<div>
  {{ if .Artists }}
  <div>
    <h2>Artists</h2>
    <table>
      {{ range .Artists }}
      <tr>
	<td>
	  <a data-link="{{.|link}}"><span class="circle">{{.|letter}}</span></a>
	</td>
	<td class="similar-artist">
	  <a data-link="{{.|link}}">{{ .Name }}</a>
	</td>
      </tr>
      {{ end }}
    </table>
  </div>
  {{ end }}

  {{ if .Releases }}
  <div>
    <h2>Releases</h2>
    {{ range .Releases }}
    <div style="float: left; padding: 10px; max-width: 110px;">
      <a data-link="{{.|link}}" style="text-decoration: none;">
	<img width="110" height="110" src="{{.|coverSmall}}" style="border-radius: 10px;">
	<br/>
	<div class="release-small-title">{{ .Name }}</div>
	<br style="display: none"/>
	<div class="release-small-year">{{ .Date.Year }}</div>
      </a>
    </div>
    {{ end }}
  </div>
  <div style="clear: both;"/>
  {{ end }}

  {{ if .Tracks }}
  <div>
    <h2>Tracks</h2>
    <table>
      {{ range .Tracks }}
      <tr style="cursor: pointer;">
	<td></td>
	<td class="track-title">
	  <a data-track="{{.TrackNum}}"
	     data-artist="{{.Artist}}"
	     data-release="{{.Release}}"
	     data-title="{{.Title}}"
	     data-cover="{{.|coverSmall}}"
	     data-url="{{.|link}}">
	    {{ .Title }}
	  </a>
	</td>
      </tr>
      <tr style="cursor: pointer;">
	<td></td>
	<td class="track-artist">{{ .Artist }} ~ {{ .Release }}</td>
      </tr>
      {{ end }}
    </table>
  </div>
  {{ end }}
</div>
