<html>
  <head>
    <title>Takeout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/music.css">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <script type="text/javascript" src="/static/music.js"></script>
  </head>
  <body>
    <div id="top">
      <div class="parent4">
	<div class="parent">
	  <div>
	    <img class="np-control" onclick="toggle();" src="/static/list-white-36dp.svg">
	  </div>
	</div>
	<div>
	  <a data-link="{{home}}" class="takeout">Takeout</a>
	</div>
      </div>
      <div style="display: flex; justify-content: center;">
	<div>
	  <form id="f">
	    <input class="search" id="q" type="text" placeholder="Search: text, artist:name, guitar:person, etc.">
	  </form>
	</div>
      </div>
      <div id="main">
	Loading...
      </div>
      <div id="playlist" style="display: none;">
      </div>
      <p style="clear: both;"/>
      <div id="playing" style="display: none;">
	<audio id="audio">
	  <source id="audio-source" src=""></source>
	</audio>
	<div class="footer" style="display: block;">
	  <table class="full-width">
	    <tr>
	      <td class="np-cover" onclick="toggle();">
		<img class="mini-cover" name="np-cover"/>
	      </td>
	      <td>
		<div class="np-track" onclick="toggle();">
		  <div class="np-title" name="np-title"></div>
		  <div class="np-artist" name="np-artist"></div>
		</div>
	      </td>
	      <td class="np-control">
		<img id="np-playpause" class="np-control" src="">
	      </td>
	      <td class="np-control">
		<img id="np-next" class="np-control" src="">
	      </td>
	    </tr>
	  </table>
	  <table class="full-width">
	    <tr>
	      <td>
		<progress id="np-progress" style="height: 8px;" class="full-width"></progress>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
  </body>
</html>
