<div>
  <h1>{{ .Artist.Name }}</h1>
  {{ if .Image }}
  <div class="parent3">
    <div class="middle">
      <img width="300" heigth="300" src="{{ .Image }}"/>
    </div>
  </div>
  {{ end }}
  <div>
    <h2>Releases</h2>
    {{ range .Releases }}
    <div style="float: left; padding: 10px; max-width: 110px;">
      <a data-link="{{.|link}}" style="text-decoration: none;">
	<img width="110" height="110" src="{{call $.CoverSmall .}}" style="border-radius: 10px;">
	<br/>
	<div class="release-small-title">{{ .Name }}</div>
	<br style="display: none"/>
	<div class="release-small-year">{{ .Date.Year }}</div>
      </a>
    </div>
    {{ end }}
  </div>
  <div style="clear: both;"/>
  {{ if .Popular }}
  <div>
    <div class="parent">
      <div class="left">
	<a class="nodecor" data-link="{{.Artist|popular}}"><h2>Popular Tracks</h2></a>
      </div>
      <div class="right">
	<a data-link="{{.Artist|popular}}"><img src="/static/navigate_next-white-24dp.svg"/></a>
      </div>
    </div>
    <div>
      {{ range .Popular }}
      <div class="parent">
	<div class="left" style="cursor: pointer;">
	  <div class="parent2">
	    <div class="track-title">
	      <a data-playlist="add-ref"
		 data-ref="{{.|ref}}"
		 data-play="now"
		 data-creator="{{.Artist}}"
		 data-album="{{.Release}}"
		 data-title="{{.Title}}"
		 data-image="{{call $.CoverSmall .}}"
		 data-location="{{.|link}}">
		{{ .Title }}
	      </a>
	    </div>
	    <div class="track-artist">
	      {{ .ReleaseTitle }}
	    </div>
	  </div>
	</div>
	<div class="right">
	  <a data-playlist="append-ref" data-ref="{{.|ref}}">
	    <img src="/static/playlist_add-white-24dp.svg">
	  </a>
	</div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ if .Singles }}
  <div>
    <div class="parent">
      <div class="left">
	<a class="nodecor" data-link="{{.Artist|singles}}"><h2>Singles</h2></a>
      </div>
      <div class="right">
	<a data-link="{{.Artist|singles}}"><img src="/static/navigate_next-white-24dp.svg"/></a>
      </div>
    </div>
    <div>
      {{ range .Singles }}
      <div class="parent">
	<div class="left" style="cursor: pointer;">
	  <div class="parent2">
	    <div class="track-title">
	      <a data-playlist="add-ref"
		 data-ref="{{.|ref}}"
		 data-play="now"
		 data-creator="{{.Artist}}"
		 data-album="{{.Release}}"
		 data-title="{{.Title}}"
		 data-image="{{call $.CoverSmall .}}"
		 data-location="{{.|link}}">
		{{ .Title }}
	      </a>
	    </div>
	    <div class="track-artist">
	      {{ .ReleaseTitle }}
	    </div>
	  </div>
	</div>
	<div class="right">
	  <a data-playlist="append-ref" data-ref="{{.|ref}}">
	    <img src="/static/playlist_add-white-24dp.svg">
	  </a>
	</div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ if .Similar }}
  <div>
    <h2>Similar Artists</h2>
    <table>
      {{ range .Similar }}
      <tr>
	<td>
	  <a data-link="{{.|link}}"><span class="circle">{{.|letter}}</span></a>
	</td>
	<td class="similar-artist">
	  <a data-link="{{.|link}}">{{ .Name }}</a>
	</td>
      </tr>
    {{ end }}
    </table>
  </div>
  {{ end }}
  <h3>External Links</h3>
  MusicBrainz:
  <a target="_blank" href="https://musicbrainz.org/artist/{{ .Artist.ARID }}">Artist</a>
</div>
