<div>
  <h1>{{ .Release.Name }}</h1>
  <div class="parent3">
    <div class="middle">
      <a data-playlist="add-ref" data-ref="{{.Release|ref}}"><img src="{{call .CoverSmall .Release}}" class="release-cover-small"></a>
    </div>
    <div class="middle">
      <a data-link="{{.Artist|link}}">{{ .Artist.Name }}</a>
      <span class="release-small-year">{{ .Release.Date.Year }}</span>
    </div>
  </div>
  <div>
    <div class="parent">
      <div class="left">
	<h2>Tracks</h2>
      </div>
      <div class="right">
	<a data-playlist="append-ref" data-ref="{{.Release|ref}}">
	  <img src="/static/playlist_add-white-24dp.svg"/>
	</a>
      </div>
    </div>
    <div>
      {{ range .Tracks }}
      <div class="parent">
	<div class="track-num">
	  {{ .TrackNum }}.
	</div>
	<div class="left" style="cursor: pointer;">
	  <div class="parent2">
	    <div class="track-title">
	      <a data-playlist="append-ref"
		 data-ref="{{.|ref}}"
		 data-play="now"
		 data-creator="{{.Artist}}"
		 data-album="{{.ReleaseTitle}}"
		 data-title="{{.Title}}"
		 data-image="{{call $.CoverSmall .}}"
		 data-location="{{.|link}}">
		{{ .Title }}
	      </a>
	    </div>
	    <div class="track-artist">
	      {{ .ReleaseTitle }}
	    </div>
	  </div>
	</div>
	<div class="separator"></div>
	<div class="right">
	  <a data-playlist="append-ref" data-ref="{{.|ref}}">
	    <img src="/static/playlist_add-white-24dp.svg">
	  </a>
	</div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ if .Singles }}
  <div>
    <h2>Singles</h2>
    <div>
      {{ range .Singles }}
      <div class="parent">
	<div class="track-num">
	  {{ .TrackNum }}.
	</div>
	<div class="left" style="cursor: pointer;">
	  <div class="parent2">
	    <div class="track-title">
	      <a data-playlist="append-ref"
		 data-ref="{{.|ref}}"
		 data-play="now"
		 data-creator="{{.Artist}}"
		 data-album="{{.ReleaseTitle}}"
		 data-title="{{.Title}}"
		 data-image="{{call $.CoverSmall .}}"
		 data-location="{{.|link}}">
		{{ .Title }}
	      </a>
	    </div>
	    <div class="track-artist">
	      {{ .ReleaseTitle }}
	    </div>
	  </div>
	</div>
	<div class="separator"></div>
	<div class="right">
	  <a data-playlist="append-ref" data-ref="{{.|ref}}">
	    <img src="/static/playlist_add-white-24dp.svg">
	  </a>
	</div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <div style="clear: both; padding-top: 5px;"/>
  {{ if .Similar }}
  <h2>Similar Releases</h2>
  <div style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
    {{ range .Similar }}
    <div style="padding: 10px; max-width: 110px; display: inline-block;">
      <a data-link="{{.|link}}" style="text-decoration: none;">
	<img width="110" height="110" src="{{call $.CoverSmall .}}" style="border-radius: 10px;">
	<br/>
	<div class="release-small-title">{{ .Name }}</div>
	<br style="display: none"/>
	<div class="release-small-year">{{ .Date.Year }}</div>
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div style="clear: both; padding-top: 5px;"/>
  <h3>External Links</h3>
  MusicBrainz:
  <a target="_blank" href="https://musicbrainz.org/artist/{{ .Artist.ARID }}">Artist</a>,
  <a target="_blank" href="https://musicbrainz.org/release-group/{{ .Release.RGID }}">Release Group</a>,
  <a target="_blank" href="https://musicbrainz.org/release/{{ .Release.REID }}">Release</a>
  <p/>
  <a alt="Open in VLC" href="/api/releases/{{.Release.ID}}/playlist.xspf"><img src="/static/open_in_new_white_24dp.svg"/></a>
</div>
