<html>
  <head>
    <title>Takeout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/takeout.css?{{.Time}}">
    <link rel="stylesheet" type="text/css" href="/static/music.css?{{.Time}}">
    <link rel="stylesheet" type="text/css" href="/static/movie.css?{{.Time}}">
    <link rel="stylesheet" type="text/css" href="/static/podcast.css?{{.Time}}">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <script type="text/javascript" src="/static/music.js?{{.Time}}"></script>
  </head>
  <body>
    <div id="top">
      <div class="parent4">
	<div>
	  <a data-link="{{home}}" class="takeout">Home</a>
	  {{ if .HasMusic }}
	  <a data-link="/v?artists=x" class="takeout">Artists</a>
	  <a data-link="/v?radio=x" class="takeout">Radio</a>
	  {{ end }}
	  {{ if .HasMovies }}
	  <a data-link="/v?movies=x" class="takeout">Movies</a>
	  {{ end }}
	  {{ if .HasPodcasts }}
	  <a data-link="/v?podcasts=x" class="takeout">Podcasts</a>
	  {{ end }}
	</div>
	<div class="parent">
	  <div>
	    <img class="np-control" onclick="toggle();" src="/static/list-white-36dp.svg">
	  </div>
	</div>
      </div>
      <div style="display: flex; justify-content: center;">
	<div>
	  <form id="f">
	    <input class="search" id="q" type="text" placeholder="Search: text, artist:name, guitar:person, etc.">
	  </form>
	</div>
      </div>
      <div id="main">
	Loading...
      </div>
      <div id="playlist" style="display: none;">
      </div>
      <p style="clear: both;"/>
      <div id="playing" style="display: none;">
	<audio id="audio">
	  <source id="audio-source" src=""></source>
	</audio>
	<div class="footer" style="display: block;">
	  <table class="full-width playing">
	    <tr class="playing">
	      <td class="np-cover" onclick="toggle();">
		<img class="mini-cover" name="np-cover"/>
	      </td>
	      <td class="playing">
		<div class="np-track" onclick="toggle();">
		  <div class="np-title" name="np-title"></div>
		  <div class="np-artist" name="np-artist"></div>
		  <div class="np-duration" id="np-duration"></div>
		</div>
	      </td>
	      <td class="np-control playing">
		<img id="np-playpause" class="np-control playing" src="">
	      </td>
	      <td class="np-control playing">
		<img id="np-next" class="np-control playing" src="">
	      </td>
	    </tr>
	  </table>
	  <div style="padding: 2px;">
	    <div id="progressbar">
	      <div id="progress"></div>
	    </div>
	  </div>
	</div>
      </div>
  </body>
</html>
