<div>
  <div class="search-results">Found {{ .Hits }} results</div>
  {{ if .Artists }}
  <div>
    <h2>Artists</h2>
    <table>
      {{ range .Artists }}
      <tr>
	<td>
	  <a data-link="{{.|link}}"><span class="circle">{{.|letter}}</span></a>
	</td>
	<td class="similar-artist">
	  <a data-link="{{.|link}}">{{ .Name }}</a>
	</td>
      </tr>
      {{ end }}
    </table>
  </div>
  {{ end }}
  {{ if .Releases }}
  <div>
    <h2>Releases</h2>
    {{ range .Releases }}
    <div style="float: left; padding: 10px; max-width: 110px;">
      <a data-link="{{.|link}}" style="text-decoration: none;">
	<img width="110" height="110" src="{{call $.CoverSmall .}}" style="border-radius: 10px;">
	<br/>
	<div class="release-small-title">{{ .Name }}</div>
	<br style="display: none"/>
	<div class="release-small-year">{{ .Date.Year }}</div>
      </a>
    </div>
    {{ end }}
  </div>
  <div style="clear: both;"/>
  {{ end }}
  {{ if .Tracks }}
  <div>
    <div class="parent">
      <div class="left">
	<a class="nodecor" data-playlist="add-ref" data-ref='{{.Query|ref}}'>
	  <h2>Tracks</h2>
	</a>
      </div>
      <div class="right">
	<a data-playlist="append-ref" data-ref='{{.Query|ref}}'>
	  <img src="/static/playlist_add-white-24dp.svg"/>
	</a>
      </div>
    </div>
    {{ range .Tracks }}
    <div class="parent">
      <div class="left" style="cursor: pointer;">
	<div class="parent2">
	  <div class="track-title">
	    <a data-playlist="add-ref"
	       data-ref="{{.|ref}}"
	       data-play="now"
	       data-creator="{{.Artist}}"
	       data-album="{{.ReleaseTitle}}"
	       data-title="{{.Title}}"
	       data-image="{{call $.CoverSmall .}}"
	       data-location="{{.|link}}">
	      {{ .Title }}
	    </a>
	  </div>
	  <div class="track-artist">
	    {{ .Artist }} ~ {{ .ReleaseTitle }}
	  </div>
	</div>
      </div>
      <div class="right">
	<a data-playlist="append-ref" data-ref="{{.|ref}}">
	  <img src="/static/playlist_add-white-24dp.svg">
	</a>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ if .Movies }}
  <div>
    <div class="parent">
      <div class="left">
	<h2>Movies</h2>
      </div>
      <div class="right">
      </div>
    </div>
    {{ range .Movies }}
    <div class="parent">
      <div class="left" style="cursor: pointer;">
	<div class="parent2">
	  <div class="movie-title">
	    <a data-link="/v?movie={{.ID}}">{{ .Title }}</a>
	  </div>
	  <div class="movie-detail">
	    {{ .Rating }} ~ {{ .Date.Year }} ~ {{ .Runtime }} mins
	  </div>
	</div>
      </div>
      <div class="right">
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
